
.starter-template {
  padding: 40px 15px;
}

.Panel {
    display: none;
}

.Panel > h2 {
    padding-left: 8px;
    border-left-color: #dcdcdc;
    border-left-style: solid;
    border-left-width: thick;
}

.bs-callout {
  	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-info {
	border-left-color: #1b809e;
}

.bs-callout-info > h4 {
	color: #1b809e;
}